<h1>Listado de Anexo 16</h1>

<table class="table">
  <thead>
    <tr>
      <th>Número de carteles</th>
      <th>Número de volantes</th>
      <th>Número de folletos</th>
      <th>Número de tripticos</th>
      <th>Spots de radio</th>
      <th>Spots de tv</th>
      <th>Numero entrevistas</th>
      <th>Numero platicas</th>
      <th>Hrs perifoneo</th>
      <th>Cunas periodisticas</th>
      <th>Pinta bardas</th>
      <th>Mantas</th>
      <th>Jurisdicción sanitaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sixteen_annexes.each do |sixteen_annex| %>
      <tr>
        <td><%= sixteen_annex.numero_carteles %></td>
        <td><%= sixteen_annex.numero_volantes %></td>
        <td><%= sixteen_annex.numero_folletos %></td>
        <td><%= sixteen_annex.numero_tripticos %></td>
        <td><%= sixteen_annex.spots_radio %></td>
        <td><%= sixteen_annex.spots_tv %></td>
        <td><%= sixteen_annex.numero_entrevistas %></td>
        <td><%= sixteen_annex.numero_platicas %></td>
        <td><%= sixteen_annex.hrs_perifoneo %></td>
        <td><%= sixteen_annex.cunas_periodisticas %></td>
        <td><%= sixteen_annex.pinta_bardas %></td>
        <td><%= sixteen_annex.mantas %></td>
        <td><%= sixteen_annex.jurisdiction_id %></td>
        <td><%= link_to 'Mostrar', sixteen_annex %></td>
        <td><%= link_to 'Editar', edit_sixteen_annex_path(sixteen_annex) %></td>
        <td><%= link_to 'Borrar', sixteen_annex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva captura Anexo 16', new_sixteen_annex_path %>
<br>
<%= link_to 'Inicio', root_path %>
