<p id="notice"><%= notice %></p>

<p>
  <strong>Numero carteles:</strong>
  <%= @sixteen_annex.numero_carteles %>
</p>

<p>
  <strong>Numero volantes:</strong>
  <%= @sixteen_annex.numero_volantes %>
</p>

<p>
  <strong>Numero folletos:</strong>
  <%= @sixteen_annex.numero_folletos %>
</p>

<p>
  <strong>Numero tripticos:</strong>
  <%= @sixteen_annex.numero_tripticos %>
</p>

<p>
  <strong>Spots radio:</strong>
  <%= @sixteen_annex.spots_radio %>
</p>

<p>
  <strong>Spots tv:</strong>
  <%= @sixteen_annex.spots_tv %>
</p>

<p>
  <strong>Numero entrevistas:</strong>
  <%= @sixteen_annex.numero_entrevistas %>
</p>

<p>
  <strong>Numero platicas:</strong>
  <%= @sixteen_annex.numero_platicas %>
</p>

<p>
  <strong>Hrs perifoneo:</strong>
  <%= @sixteen_annex.hrs_perifoneo %>
</p>

<p>
  <strong>Cunas periodisticas:</strong>
  <%= @sixteen_annex.cunas_periodisticas %>
</p>

<p>
  <strong>Pinta bardas:</strong>
  <%= @sixteen_annex.pinta_bardas %>
</p>

<p>
  <strong>Mantas:</strong>
  <%= @sixteen_annex.mantas %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @sixteen_annex.jurisdiction_id %>
</p>

<%= link_to 'Edit', edit_sixteen_annex_path(@sixteen_annex) %> |
<%= link_to 'Back', sixteen_annexes_path %>
