<p id="notice"><%= notice %></p>

<p>
  <strong>Numero municipios:</strong>
  <%= @fourteen_annex.numero_municipios %>
</p>

<p>
  <strong>Localidades trabajadas:</strong>
  <%= @fourteen_annex.localidades_trabajadas %>
</p>

<p>
  <strong>Logros perros:</strong>
  <%= @fourteen_annex.logros_perros %>
</p>

<p>
  <strong>Logros gatos:</strong>
  <%= @fourteen_annex.logros_gatos %>
</p>

<p>
  <strong>Logros total:</strong>
  <%= @fourteen_annex.logros_total %>
</p>

<p>
  <strong>Porcentaje cumplimiento:</strong>
  <%= @fourteen_annex.porcentaje_cumplimiento %>
</p>

<p>
  <strong>Puestos:</strong>
  <%= @fourteen_annex.puestos %>
</p>

<p>
  <strong>Brigadas:</strong>
  <%= @fourteen_annex.brigadas %>
</p>

<p>
  <strong>Personas sesa:</strong>
  <%= @fourteen_annex.personas_sesa %>
</p>

<p>
  <strong>Personas edo mpio:</strong>
  <%= @fourteen_annex.personas_edo_mpio %>
</p>

<p>
  <strong>Personas sagarpa:</strong>
  <%= @fourteen_annex.personas_sagarpa %>
</p>

<p>
  <strong>Personas escuelas vet pec:</strong>
  <%= @fourteen_annex.personas_escuelas_vet_pec %>
</p>

<p>
  <strong>Personas gpos:</strong>
  <%= @fourteen_annex.personas_gpos %>
</p>

<p>
  <strong>Personas voluntarios:</strong>
  <%= @fourteen_annex.personas_voluntarios %>
</p>

<p>
  <strong>Personas imss prospera:</strong>
  <%= @fourteen_annex.personas_imss_prospera %>
</p>

<p>
  <strong>Personas total:</strong>
  <%= @fourteen_annex.personas_total %>
</p>

<%= link_to 'Edit', edit_fourteen_annex_path(@fourteen_annex) %> |
<%= link_to 'Back', fourteen_annexes_path %>
