<h1>Listado de tus capturas del Anexo 11</h1>

<table class="table">
  <thead>
    <tr>
      <th>Numero frascos</th>
      <th>Numero dosis</th>
      <th>Placas</th>
      <th>Chinchos</th>
      <th>Comprobantes cartillas y/o certificados</th>
      <th>Agujas 22x32 mm</th>
      <th>Jeringas 3 ml</th>
      <th>Thermos</th>
      <th>Jurisdicción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eleven_annexes.each do |eleven_annex| %>
      <tr>
        <td><%= eleven_annex.numero_frascos %></td>
        <td><%= eleven_annex.numero_dosis %></td>
        <td><%= eleven_annex.placas %></td>
        <td><%= eleven_annex.chinchos %></td>
        <td><%= eleven_annex.comprobantes_cartillas %></td>
        <td><%= eleven_annex.agujas %></td>
        <td><%= eleven_annex.jeringas %></td>
        <td><%= eleven_annex.thermos %></td>
        <td><%= Jurisdiction.find(eleven_annex.jurisdiction_id).jurisdiction_name %></td>
        <td><%= link_to 'Mostrar', eleven_annex %></td>
        <td><%= link_to 'Editar', edit_eleven_annex_path(eleven_annex) %></td>
        <td><%= link_to 'Eliminar', eleven_annex, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva captura del anexo 11', new_eleven_annex_path %>
