<p id="notice"><%= notice %></p>

<p>
  <strong>Numero frascos:</strong>
  <%= @eleven_annex.numero_frascos %>
</p>

<p>
  <strong>Numero dosis:</strong>
  <%= @eleven_annex.numero_dosis %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @eleven_annex.placas %>
</p>

<p>
  <strong>Chinchos:</strong>
  <%= @eleven_annex.chinchos %>
</p>

<p>
  <strong>Comprobantes cartillas:</strong>
  <%= @eleven_annex.comprobantes_cartillas %>
</p>

<p>
  <strong>Agujas:</strong>
  <%= @eleven_annex.agujas %>
</p>

<p>
  <strong>Jeringas:</strong>
  <%= @eleven_annex.jeringas %>
</p>

<p>
  <strong>Thermos:</strong>
  <%= @eleven_annex.thermos %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @eleven_annex.jurisdiction_id %>
</p>

<%= link_to 'Editar', edit_eleven_annex_path(@eleven_annex) %> |
<%= link_to 'Volver', eleven_annexes_path %>
