<h1>Listado de tus capturas del Anexo 9</h1>

<table class="table">
  <thead>
    <tr>
      <th>No. de municipios de la jurisdicción sanitaria</th>
      <th>Número de municipios de la jurisdicción con IMSS-Prospera</th>
      <th>Universo de perros en municipios responsabilidad de IMSS-Prospera</th>
      <th>Universo de gatos en municipios responsabilidad de IMSS-Prospera</th>
      <th>Universo total en municipios responsabilidad de IMSS-Prospera</th>
      <th>Perros vacunar imss prospera</th>
      <th>Gatos vacunar imss prospera</th>
      <th>Total vacunar imss prospera</th>
      <th>Jurisdiction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nine_annexes.each do |nine_annex| %>
      <tr>
        <td><%= nine_annex.numero_municipios %></td>
        <td><%= nine_annex.numero_municipios_imss_prospera %></td>
        <td><%= nine_annex.universo_perros_imss_prospera %></td>
        <td><%= nine_annex.universo_gatos_imss_prospera %></td>
        <td><%= nine_annex.universo_total_imss_prospera %></td>
        <td><%= nine_annex.perros_vacunar_imss_prospera %></td>
        <td><%= nine_annex.gatos_vacunar_imss_prospera %></td>
        <td><%= nine_annex.total_vacunar_imss_prospera %></td>
        <td><%= Jurisdiction.find(nine_annex.jurisdiction_id).jurisdiction_name %></td>
        <td><%= link_to 'Mostrar', nine_annex %></td>
        <td><%= link_to 'Editar', edit_nine_annex_path(nine_annex) %></td>
        <td><%= link_to 'Eliminar', nine_annex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva captura del Anexo 9', new_nine_annex_path %>
<br>
<%= link_to 'Inicio', root_path %>
