<p id="notice"><%= notice %></p>

<p>
  <strong>Numero municipios:</strong>
  <%= @nine_annex.numero_municipios %>
</p>

<p>
  <strong>Numero municipios imss prospera:</strong>
  <%= @nine_annex.numero_municipios_imss_prospera %>
</p>

<p>
  <strong>Universo perros imss prospera:</strong>
  <%= @nine_annex.universo_perros_imss_prospera %>
</p>

<p>
  <strong>Universo gatos imss prospera:</strong>
  <%= @nine_annex.universo_gatos_imss_prospera %>
</p>

<p>
  <strong>Universo total imss prospera:</strong>
  <%= @nine_annex.universo_total_imss_prospera %>
</p>

<p>
  <strong>Perros vacunar imss prospera:</strong>
  <%= @nine_annex.perros_vacunar_imss_prospera %>
</p>

<p>
  <strong>Gatos vacunar imss prospera:</strong>
  <%= @nine_annex.gatos_vacunar_imss_prospera %>
</p>

<p>
  <strong>Total vacunar imss prospera:</strong>
  <%= @nine_annex.total_vacunar_imss_prospera %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @nine_annex.jurisdiction_id %>
</p>

<%= link_to 'Edit', edit_nine_annex_path(@nine_annex) %> |
<%= link_to 'Back', nine_annexes_path %>
