<p id="notice"><%= notice %></p>

<p>
  <strong>Sesa personas:</strong>
  <%= @ten_annex.sesa_personas %>
</p>

<p>
  <strong>Estados municipios personas:</strong>
  <%= @ten_annex.estados_municipios_personas %>
</p>

<p>
  <strong>Sedena semar:</strong>
  <%= @ten_annex.sedena_semar %>
</p>

<p>
  <strong>Sagarpa personas:</strong>
  <%= @ten_annex.sagarpa_personas %>
</p>

<p>
  <strong>Escuelas veterinarias personas:</strong>
  <%= @ten_annex.escuelas_veterinarias_personas %>
</p>

<p>
  <strong>Grupos comunidad personas:</strong>
  <%= @ten_annex.grupos_comunidad_personas %>
</p>

<p>
  <strong>Voluntarios personas:</strong>
  <%= @ten_annex.voluntarios_personas %>
</p>

<p>
  <strong>Otros personas:</strong>
  <%= @ten_annex.otros_personas %>
</p>

<p>
  <strong>Imss prospera personas:</strong>
  <%= @ten_annex.imss_prospera_personas %>
</p>

<p>
  <strong>Total personas:</strong>
  <%= @ten_annex.total_personas %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @ten_annex.jurisdiction_id %>
</p>

<%= link_to 'Edit', edit_ten_annex_path(@ten_annex) %> |
<%= link_to 'Back', ten_annexes_path %>
