<h1>Bienvenido:</h1>
<h3><%= State.find(current_user.state_id).state_name %></h3>

<h4><%= link_to 'Captura del anexo 8', eight_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 9', nine_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 10', ten_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 11', eleven_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 12', twelve_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 13', thirteen_annexes_path %></h4>
