<h1>Capturas del anexo 15 (IMSS-PROSPERA)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Numero de municipios</th>
      <th>Localidades trabajadas</th>
      <th>Logros: perros</th>
      <th>Logros: gatos</th>
      <th>Logros: total</th>
      <th>Jurisdiccion Sanitaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fifteen_annexes.each do |fifteen_annex| %>
      <tr>
        <td><%= fifteen_annex.numero_municipios %></td>
        <td><%= fifteen_annex.localidades_trabajadas %></td>
        <td><%= fifteen_annex.logros_perros %></td>
        <td><%= fifteen_annex.logros_gatos %></td>
        <td><%= fifteen_annex.logros_total %></td>
        <td><%= Jurisdiction.find(fifteen_annex.jurisdiction_id).jurisdiction_name %></td>
        <td><%= link_to 'Show', fifteen_annex %></td>
        <td><%= link_to 'Edit', edit_fifteen_annex_path(fifteen_annex) %></td>
        <td><%= link_to 'Destroy', fifteen_annex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva captura del Anexo 15', new_fifteen_annex_path %>
<br>
<%= link_to 'Inicio', root_path %>
