<p id="notice"><%= notice %></p>

<p>
  <strong>Numero municipios:</strong>
  <%= @fifteen_annex.numero_municipios %>
</p>

<p>
  <strong>Localidades trabajadas:</strong>
  <%= @fifteen_annex.localidades_trabajadas %>
</p>

<p>
  <strong>Logros perros:</strong>
  <%= @fifteen_annex.logros_perros %>
</p>

<p>
  <strong>Logros gatos:</strong>
  <%= @fifteen_annex.logros_gatos %>
</p>

<p>
  <strong>Logros total:</strong>
  <%= @fifteen_annex.logros_total %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @fifteen_annex.jurisdiction_id %>
</p>

<%= link_to 'Editar', edit_fifteen_annex_path(@fifteen_annex) %> |
<%= link_to 'Volver', fifteen_annexes_path %>
