<p id="notice"><%= notice %></p>

<p>
  <strong>Difusion acumulado total:</strong>
  <%= @twelve_annex.difusion_acumulado_total %>
</p>

<p>
  <strong>Carteles:</strong>
  <%= @twelve_annex.carteles %>
</p>

<p>
  <strong>Volantes:</strong>
  <%= @twelve_annex.volantes %>
</p>

<p>
  <strong>Folletos:</strong>
  <%= @twelve_annex.folletos %>
</p>

<p>
  <strong>Tripticos:</strong>
  <%= @twelve_annex.tripticos %>
</p>

<p>
  <strong>Spots tv:</strong>
  <%= @twelve_annex.spots_tv %>
</p>

<p>
  <strong>Spots radio:</strong>
  <%= @twelve_annex.spots_radio %>
</p>

<p>
  <strong>Entrevistas tv:</strong>
  <%= @twelve_annex.entrevistas_tv %>
</p>

<p>
  <strong>Entrevistas radio:</strong>
  <%= @twelve_annex.entrevistas_radio %>
</p>

<p>
  <strong>Platicas:</strong>
  <%= @twelve_annex.platicas %>
</p>

<p>
  <strong>Horas perifoneo:</strong>
  <%= @twelve_annex.horas_perifoneo %>
</p>

<p>
  <strong>Cunas periodisticas:</strong>
  <%= @twelve_annex.cunas_periodisticas %>
</p>

<p>
  <strong>Pinta bardas:</strong>
  <%= @twelve_annex.pinta_bardas %>
</p>

<p>
  <strong>Mantas:</strong>
  <%= @twelve_annex.mantas %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @twelve_annex.jurisdiction_id %>
</p>

<%= link_to 'Edit', edit_twelve_annex_path(@twelve_annex) %> |
<%= link_to 'Back', twelve_annexes_path %>
