<div class="form-group">
<%= form_for(@eight_annex) do |f| %>
  <% if @eight_annex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eight_annex.errors.count, "error") %> prohibited this eight_annex from being saved:</h2>

      <ul>
      <% @eight_annex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Perros estimados" %><br>
    <%= f.number_field :perros_estimados, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Gatos estimados" %><br>
    <%= f.number_field :gatos_estimados, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Total de estimados" %><br>
    <%= f.number_field :total_estimados, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Perros por vacunar en 2015" %><br>
    <%= f.number_field :perros_por_vacunar, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Gatos por vacunar en 2015" %><br>
    <%= f.number_field :gatos_por_vacunar, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Total por vacunar en 2015" %><br>
    <%= f.number_field :total_por_vacunar, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Perros a vacunar en semana nacional "%><br>
    <%= f.number_field :perros_vsn, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Gatos a vacunar en semana nacional"%><br>
    <%= f.number_field :gatos_vsn, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Total a vacunar en semana nacional"%><br>
    <%= f.number_field :total_vsn, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label "Número de brigadas por día" %><br>
    <%= f.number_field :brigadas_dia, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Número de puestos fijos por día" %><br>
    <%= f.number_field :puestos_fijos, :value => 0 %>
  </div>
  <div class="field">
    <%= f.label "Número de días por trabajar" %><br>
    <%= f.number_field :numero_de_dias, :value => 0%>
  </div>

  <div class="field">
    <%= f.label "Jurisdicción sanitaria" %> <br>
    <%= f.collection_select :jurisdiction_id, Jurisdiction.find(EightAnnex.available_jurisdictions(current_user.state_id)), :id, :jurisdiction_name, include_blank:false%>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Guardar formulario" %>
  </div>
<% end %>
</div>
