<p id="notice"><%= notice %></p>

<p>
  <strong>Perros estimados:</strong>
  <%= @eight_annex.perros_estimados %>
</p>

<p>
  <strong>Gatos estimados:</strong>
  <%= @eight_annex.gatos_estimados %>
</p>

<p>
  <strong>Total estimados:</strong>
  <%= @eight_annex.total_estimados %>
</p>

<p>
  <strong>Perros por vacunar:</strong>
  <%= @eight_annex.perros_por_vacunar %>
</p>

<p>
  <strong>Gatos por vacunar:</strong>
  <%= @eight_annex.gatos_por_vacunar %>
</p>

<p>
  <strong>Total por vacunar:</strong>
  <%= @eight_annex.total_por_vacunar %>
</p>

<p>
  <strong>Perros vsn:</strong>
  <%= @eight_annex.perros_vsn %>
</p>

<p>
  <strong>Gatos vsn:</strong>
  <%= @eight_annex.gatos_vsn %>
</p>

<p>
  <strong>Total vsn:</strong>
  <%= @eight_annex.total_vsn %>
</p>

<p>
  <strong>Brigadas dia:</strong>
  <%= @eight_annex.brigadas_dia %>
</p>

<p>
  <strong>Puestos fijos:</strong>
  <%= @eight_annex.puestos_fijos %>
</p>

<p>
  <strong>Numero de dias:</strong>
  <%= @eight_annex.numero_de_dias %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @eight_annex.jurisdiction_id %>
</p>

<%= link_to 'Editar registro', edit_eight_annex_path(@eight_annex) %> |
<%= link_to 'Volver', eight_annexes_path %>
