<p id="notice"><%= notice %></p>

<p>
  <strong>Numero cds dist:</strong>
  <%= @thirteen_annex.numero_cds_dist %>
</p>

<p>
  <strong>Numero cd perifoneo dist:</strong>
  <%= @thirteen_annex.numero_cd_perifoneo_dist %>
</p>

<p>
  <strong>Numero carteles dist:</strong>
  <%= @thirteen_annex.numero_carteles_dist %>
</p>

<p>
  <strong>Numero cds local:</strong>
  <%= @thirteen_annex.numero_cds_local %>
</p>

<p>
  <strong>Numero cd perifoneo local:</strong>
  <%= @thirteen_annex.numero_cd_perifoneo_local %>
</p>

<p>
  <strong>Numero carteles local:</strong>
  <%= @thirteen_annex.numero_carteles_local %>
</p>

<p>
  <strong>Numero estaciones am:</strong>
  <%= @thirteen_annex.numero_estaciones_am %>
</p>

<p>
  <strong>Numero estaciones fm:</strong>
  <%= @thirteen_annex.numero_estaciones_fm %>
</p>

<p>
  <strong>Total estaciones:</strong>
  <%= @thirteen_annex.total_estaciones %>
</p>

<p>
  <strong>Promedio impactos dia:</strong>
  <%= @thirteen_annex.promedio_impactos_dia %>
</p>

<p>
  <strong>Fecha inicio difusion:</strong>
  <%= @thirteen_annex.fecha_inicio_difusion %>
</p>

<p>
  <strong>Fecha termino difusion:</strong>
  <%= @thirteen_annex.fecha_termino_difusion %>
</p>

<p>
  <strong>Promedio dias difusion:</strong>
  <%= @thirteen_annex.promedio_dias_difusion %>
</p>

<p>
  <strong>Equipo perifoneo oficial:</strong>
  <%= @thirteen_annex.equipo_perifoneo_oficial %>
</p>

<p>
  <strong>Equipo perifoneo privado:</strong>
  <%= @thirteen_annex.equipo_perifoneo_privado %>
</p>

<p>
  <strong>Equipo perifoneo total:</strong>
  <%= @thirteen_annex.equipo_perifoneo_total %>
</p>

<p>
  <strong>Promedio horas difusion:</strong>
  <%= @thirteen_annex.promedio_horas_difusion %>
</p>

<p>
  <strong>Fecha inicio difusion perifoneo local:</strong>
  <%= @thirteen_annex.fecha_inicio_difusion_perifoneo_local %>
</p>

<p>
  <strong>Fecha termino difusion perifoneo local:</strong>
  <%= @thirteen_annex.fecha_termino_difusion_perifoneo_local %>
</p>

<p>
  <strong>Promedio dias perifoneo:</strong>
  <%= @thirteen_annex.promedio_dias_perifoneo %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @thirteen_annex.jurisdiction_id %>
</p>

<%= link_to 'Edit', edit_thirteen_annex_path(@thirteen_annex) %> |
<%= link_to 'Back', thirteen_annexes_path %>
